/* map */
[class*="ground-pane"] {
  filter: grayscale(1);
}
/* ------- */

.contact {
  padding-bottom: 69px;
  &__title {
    margin-bottom: 22px;
  }

  &__container {
    min-height: 460px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__left {
    grid-column: 1 / 3;
  }

  &__right {
    margin-top: -5px;
    grid-column: 3 / 4;
  }
}

  .map {
    position: relative;
    overflow: hidden;
		&__info {
      position: absolute;
      width: 410px;
      min-height: 100%;
      background-color: rgba(32, 32, 32, 0.85);
      z-index: 10;
      display: flex;
      align-items: center;
      transition: transform .3s ease-in-out;
        &.close {
          transform: translateX(-86%);
          .map__close {
            .map__close--close-icon {
              display: none;
            }
            .map__close--arrow-icon {
              display: block;
            }
          }
        }
		}

		&__close {
      position: absolute;
      top: 20px;
      right: 20px;
      &--arrow-icon {
        display: none;
      }
		}

		&__content {
      padding-top: 22px;
      padding-left: 60px;
      padding-right: 50px;
		}

		&__title {
      margin-bottom: 5px;
      font-family: TT Firs Neue, sans-serif;
      font-weight: normal;
      font-size: 24px;
      line-height: 22px;
      color: #fff;
		}

		&__descr {
      margin-bottom: 2px;
      font-family: Roboto, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #CACACA;
		}

		&__tel {
      font-family: TT Firs Neue, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #fff;
      padding-left: 25px;
      background: url('../../images/svg/tel-icon.svg') no-repeat left center / contain;
		}
}

.contactForm {

  &__title {
    margin-bottom: 5px;
    font-family: TT Firs Neue, sans-serif;
    font-size: 24px;
    line-height: 22px;
    color: #202020;
  }

  &__descr {
    margin-bottom: 14px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
  }

  &__input {
    margin-bottom: 20px;
    width: 100%;
    background-color: #E9E9E9;
    border-color: #E9E9E9;
    color: #000;
  }

  &__taxtarea {
    margin-bottom: 15px;
    resize: none;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    width: 100%;
    height: 150px;
    padding: 15px 23px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #000;
      &::placeholder {
        font-family: Roboto;
        font-size: 16px;
        line-height: 19px;
        color: #999999;
        transition: color .2s ease-in-out;
      }
      &:hover::placeholder {
        color: #FF6E30;
      }
      &:focus {
        outline: 1px solid #FF6E30;
      }
  }

  &__btn {
    width: 126px;
    height: 50px;
  }

}



//Extra large
@media(max-width: 1200px) {
  .contact {
    padding-bottom: 69px;
    &__title {
      margin-bottom: 22px;
    }

    &__container {
      min-height: 460px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 30px;
    }

    &__left {
      grid-column: 1 / 6;
    }

    &__right {
      margin-top: -5px;
      grid-column: 6 / 9;
    }
  }

  .map {
    position: relative;
		&__info {
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 0;
      padding-top: 25px;
      padding-bottom: 22px;
      z-index: 10;
      display: block;
      &.close {
        transform: translateY(62%);
        .map__close {
          .map__close--close-icon {
            display: none;
          }
          .map__close--arrow-icon {
            display: block;
            transform: rotate(-90deg);
          }
        }
      }
		}

		&__content {
      padding-top: 0;
      padding-right: 260px;
      padding-left: 30px;
		}

		&__descr {
      display: inline;
      margin-right: 10px;
		}

		&__tel {
      display: inline;
      color: #FF6E30;
      background: url('../../images/svg/tel-icon--orange.svg') no-repeat left center / contain;
		}
}
}

//large
@media(max-width: 992px) {
  .contact {

		&__container {
      display: block;
		}

		&__left {
      min-height: 460px;
      margin-bottom: 29px;
		}

}

  .map {

		&__info {
      padding-bottom: 30px;
		}

		&__descr {
      display: block;
		}

		&__tel {
      display: block;
		}
  }
  .contactForm {
    max-width: 466px;
  }


}

//small
@media(max-width: 576px) {
  .contact {
    padding-bottom: 53px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }

		&__title {
      padding-left: 20px;
      padding-right: 20px;
		}

		&__left {
      min-height: 464px;
		}
  }

  .map {

		&__info {
      padding-bottom: 18px;
		}

		&__content {
      padding-left: 19px;
      padding-right: 34px;
		}

		&__title {
      font-size: 18px;
      line-height: 22px;
		}

		&__descr {
      margin-bottom: 11px;
      font-size: 14px;
      line-height: 18px;
      margin-right: 0;
		}

		&__tel {
      font-size: 14px;
      line-height: 18px;
		}
  }
  .contactForm {
    padding-left: 20px;
    padding-right: 20px;
		&__title {
      font-size: 18px;
      line-height: 22px;
		}

		&__descr {
      font-size: 14px;
      line-height: 18px;
		}

	  &__btn {
      width: 115px;
      height: 40px;
    }
  }
}
