$maxContainer: 1352px;

$bgHeader: #202020;
$bgBottomHeader: #4A4A4A;

$hoverColor: #FF6E30; //nav social
$focusColor: #BC572B; //nav social
$activeColor: #CE4307; //nav social

$bgBtn: #FF6E30;
$colorFontBtn: #fff;
$hoverBtn: #BC572B;
$focusBtn: #CE4307;
$activeBtn: #CE4307;

$colorCategory: #333;

$colorBgAbout: #202020;

$colorAboutTittle: #fff;
$colorAboutText: #cacaca;

$bgInput: #4A4A4A;